apiVersion: apps/v1
kind: Deployment
metadata:
  name: course-app
  namespace: dev
spec:
  replicas: 2
  selector:
    matchLabels:
      app: course-app
  template:
    metadata:
      labels:
        app: course-app
    spec:
      containers:
        - name: course-app
          image: kyle21/course-app:1.0.0
          ports:
            - containerPort: 8080
          env:
            - name: APP_STORE
              value: "memory"
            - name: APP_MESSAGE
              value: "Welcome to the Course App"
            - name: APP_DB_PATH
              value: "/data/app.db"
          volumeMounts:
            - name: appdata
              mountPath: /data
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 20
      volumes:
        - name: appdata
          emptyDir: {}