apiVersion: apps/v1
kind: Deployment
metadata:
  name: course-app
spec:
  replicas: 4
  selector:
    matchLabels:
      app: course-app
  template:
    metadata:
      labels:
        app: course-app
    spec:
      containers:
        - name: course-app
          image: bperhun/course-app:latest
          ports:
            - containerPort: 8080
