apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "course-app.fullname" . }}-config
  labels:
    {{- include "course-app.labels" . | nindent 4 }}
data:
  APP_STORE: {{ .Values.config.appStore | quote }}

  {{- if .Values.dragonfly.enabled }}
  APP_REDIS_URL: "redis://{{ include "course-app.fullname" . }}-{{ .Values.dragonfly.name }}:{{ .Values.dragonfly.service.port }}/0"
  {{- else if .Values.redis.enabled }}
  APP_REDIS_URL: "redis://{{ include "course-app.fullname" . }}-redis-master:{{ .Values.redis.master.service.ports.redis }}/0"
  {{- else }}
  APP_REDIS_URL: {{ .Values.config.appRedisUrl | default "redis://localhost:6379/0" | quote }}
  {{- end }}

  APP_MESSAGE: {{ .Values.config.appMessage | quote }}