apiVersion: apps/v1
kind: Deployment
metadata:
    name: course-app
spec:
    replicas: 10
    selector:
        matchLabels:
            app: course-app
    template:
        metadata:
            labels:
                app: course-app
        spec:
           volumes:
                - name: appdata
           containers:
                -   name: course-app
                    image: demo.goharbor.io/beigelzimer/course-app:v1.1
                    ports:
                        -   containerPort: 8080
                    volumeMounts:
                      - name: appdata
                        mountPath: /apps/couse-app/data 
                    env:
                      - name: APP_MESSAGE
                        valueFrom:
                          configMapKeyRef:
                            name: web-config
                            key: APP_MESSAGE

    strategy:
       type: RollingUpdate
       rollingUpdate:
          maxSurge: 0%
          maxUnavailable: 25%