apiVersion: apps/v1
kind: Deployment
metadata:
    name: course-app
    namespace: default
spec:
    replicas: 20
    selector:
        matchLabels:
            app: course-app
    template:
        metadata:
            labels:
                app: course-app
        spec:
            containers:
                -   name: course-app
                    image: demo.goharbor.io/lesson06/course-app:v1.0
                    ports:
                        -   containerPort: 8080

