apiVersion: apps/v1
kind: Deployment
metadata:
  name: course-app
  labels:
    app: capp
spec:
  replicas: 10
  selector:
    matchLabels:
      app: capp
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: capp
      annotations:
        config: DATA
    spec:
      containers:
      - name: course-app
        image: "malskur/capp:latest"
        ports:
          - containerPort: 8080
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8080
          initialDelaySeconds: 15
          periodSeconds: 10
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 20
          failureThreshold: 3
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 400m
            memory: 512Mi
        env:
        - name: APP_REDIS_URL
          valueFrom:
            configMapKeyRef:
              name: course-app-config
              key: APP_REDIS_URL
        - name: APP_STORE
          valueFrom:
            configMapKeyRef:
              name: course-app-config
              key: APP_STORE
        - name: LOG_LEVEL
          valueFrom:
            configMapKeyRef:
              name: course-app-config
              key: LOG_LEVEL
        - name: KUBERNETES_SERVICE_PORT
          valueFrom:
            configMapKeyRef:
              name: course-app-config
              key: KUBERNETES_SERVICE_PORT