version: "3.9"

services:
  web:
    build:
      context: ../../../../apps/course-app
      dockerfile: ../../homeworks/artemkolbasa/lesson-05/Dockerfile
    image: course-app
    ports:
      - "8080:8080"

    environment:
      APP_STORE: "redis"
      APP_REDIS_URL: "redis://redis:6379/0"

    volumes:
      - appdata:/app/data        
      
    depends_on:
      redis:
        condition: service_healthy  

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/healthz"]
      interval: 5s
      timeout: 3s
      retries: 5


  redis:
    image: redis:7
    ports:
      - "6379:6379"

    volumes:
      - redisdata:/data       

    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5


volumes:
  appdata:
  redisdata: