services:
  main:
    build: .
    ports:
      - "8080:8080"
    environment:
      APP_STORE: redis
      APP_REDIS_URL: redis://redis:6379/0
    depends_on:
      - redis
  redis:
    image: redis:alpine
    volumes:
      - ./redis_data:/data

