services:
  python:
    build:
      dockerfile: ../../homeworks/MotilevskiyVitalii/module-2/lesson-04/Dockerfile
      context: ../../../../apps/course-app
    ports:
      - "8080:8080"
    depends_on:
      -   redis
    environment:
      - APP_MESSAGE="Welcome to the Course App"
      - APP_STORE=redis
      - APP_REDIS_URL=redis://redis:6379/0

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    restart: unless-stopped


