data:
  appStore: "redis"
  appRedisUrl: "redis://redis-helm-lvl11-master:6379"

image:
  repository: illiadudnyk/course-app-id
  tag: "1.5"

ingress:
  enabled: true
  className: traefik
  hosts:
    - host: course-app.local
      paths:
        - path: /
          pathType: Prefix

service:
  type: ClusterIP
  port: 8080
  targetPort: 8080

livenessProbe:
  httpGet:
    path: /healthz
    port: 8080

readinessProbe:
  httpGet:
    path: /readyz
    port: 8080
