services:
    course-app:
        image: 
            course-app:0.2
        healthcheck:
            test: ["CMD", "wget","-q", "--spider", "http://127.0.0.1:8080/healthz"]
            interval: 10s
            retries: 5
            timeout: 5s
        environment:
           APP_STORE: redis
           APP_REDIS_URL: redis://memory-cache:6379/0 
           APP_MESSAGE: "hello world)"
        depends_on:
            - memory-cache
        volumes:
            - appdata:/app/data
        ports: 
            - "127.0.0.1:8080:8080"

    memory-cache:
        image:
            redis
        healthcheck:
            test: [ "CMD", "redis-cli", "--raw", "incr", "ping" ]
        ports:
            - "127.0.0.1:6379:6379"
        volumes:
            - redis-data:/data

volumes:
    appdata:
    redis-data:
