apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "lesson-11.fullname" . }}
  labels:
    {{- include "lesson-11.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "lesson-11.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        app: {{ include "lesson-11.name" . }}
        upgradeFlag: "653"
        {{- include "lesson-11.labels" . | nindent 8 }}

    spec:
      containers:
        - name: {{ .Chart.Name }}          
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.service.targetPort }}

          livenessProbe:
            httpGet:
              path: {{ .Values.probes.liveness.path }}
              port: {{ .Values.service.targetPort }}
            initialDelaySeconds: {{ .Values.probes.liveness.initialDelaySeconds }}
            periodSeconds: {{ .Values.probes.liveness.periodSeconds }}
            timeoutSeconds: {{ .Values.probes.liveness.timeoutSeconds }}
            failureThreshold: {{ .Values.probes.liveness.failureThreshold }}
                    
          readinessProbe:
            httpGet:
              path: {{ .Values.probes.readiness.path }}
              port: {{ .Values.service.targetPort }}
            initialDelaySeconds: {{ .Values.probes.readiness.initialDelaySeconds }}
            periodSeconds: {{ .Values.probes.readiness.periodSeconds }}
            timeoutSeconds: {{ .Values.probes.readiness.timeoutSeconds }}
            failureThreshold: {{ .Values.probes.readiness.failureThreshold }}
          
          envFrom:
          - configMapRef:
              name: {{ include "lesson-11.fullname" . }}-config
          
  strategy:
    type: RollingUpdate 
    rollingUpdate:
      maxSurge: 4
      maxUnavailable: 2