apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "course-app.fullname" . }}-config
  labels:
    {{- include "course-app.labels" . | nindent 4 }}
data:
  APP_MESSAGE: {{ .Values.config.message | quote }}
  APP_STORE: {{ .Values.config.store | quote }}
  APP_DB_PATH: {{ .Values.config.dbPath | quote }}
  APP_REDIS_URL: {{ default (printf "%s://%s:%d" .Values.redis.protocol .Values.redis.host (int .Values.redis.port)) .Values.redis.url | quote }}
