apiVersion: apps/v1
kind: Deployment
metadata:
  name: course-app-deployment  
  labels:
    app: course-app
spec:
  replicas: 3                  
  selector:
    matchLabels:
      app: course-app          
  template:                    
    metadata:
      labels:
        app: course-app        
    spec:
      containers:
        - name: course-app
          image: my-build:2.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080

          env:
            - name: APP_STORE
              value: "sqlite" 
            - name: APP_DB_PATH
              value: "/add/data/data.sql"

          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10