version: "3.9"

services:
  app:
    build:
      context: /Users/andreqko/Documents/WebstormProjects/docker_and_kuber/apps/course-app
      dockerfile: /Users/andreqko/Documents/WebstormProjects/docker_and_kuber/homeworks/stepanov/module-2/lesson-04/Dockerfile
    ports:
      - "8080:8080"
    environment:
      APP_STORE: redis
      APP_REDIS_URL: redis://redis:6379/0
    depends_on:
      redis:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://127.0.0.1:8080/healthz || exit 1"]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 5s
    volumes:
      - app_data:/app/data

  redis:
    image: redis:7-alpine
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3
    volumes:
      - redis_data:/data

volumes:
  app_data:
  redis_data:
