apiVersion: apps/v1
kind: Deployment
metadata:
  name: course-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: course-app
  template:
    metadata:
      labels:
        app: course-app
    spec:
      containers:
        - name: course-app
          image: letvik88/course-app:latest
          ports:
            - containerPort: 8080
          env:
            - name: APP_MESSAGE
              value: "Welcome to Course App from Kubernetes"
            - name: APP_STORE
              value: "redis"
            - name: APP_REDIS_URL
              value: "redis://redis:6379/0"
