apiVersion: apps/v1
kind: Deployment
metadata:
  name: course-app
  namespace: hw07
spec:
  replicas: 10
  selector:
    matchLabels:
      app: course-app
  template:
    metadata:
      labels:
        app: course-app
    spec:
      containers:
      - name: course-app
        image: gen921/hw07:latest
        ports:
        - containerPort: 8080
        env:
        - name: APP_NAME
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: APP_NAME
        - name: APP_LOG_LEVEL
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: APP_LOG_LEVEL
        - name: APP_STORE
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: APP_STORE
        - name: APP_REDIS_URL
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: APP_REDIS_URL

  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
