apiVersion: apps/v1
kind: Deployment
metadata:
  name: course-app-andrii-deployment
  labels:
    app: course-app-andrii-kharkovyi
spec:
  replicas: 10
  selector:
    matchLabels:
      app: course-app-andrii-kharkovyi
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 2
  template:
    metadata:
      labels:
        app: course-app-andrii-kharkovyi
    spec:
      containers:
        - name: course-app-andrii-kharkovyi
          image: geo14tr89/course-app-andrii:v2
          ports:
            - containerPort: 8080
          env:
            - name: APP_MESSAGE
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: APP_MESSAGE
            - name: APP_STORE
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: APP_STORE
            - name: APP_DB_PATH
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: APP_DB_PATH
            - name: APP_REDIS_URL
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: APP_REDIS_URL

          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3

