apiVersion: v1
kind: Service
metadata:
  name: course-app-nodeport
spec:
  type: NodePort
  selector:
    app: course-app-lvl7
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30080

---
apiVersion: v1
kind: Service
metadata:
  name: database-service
spec:
  selector:
    app: database
  ports:
    - port: 6379
      targetPort: 6379