apiVersion: apps/v1
kind: Deployment
metadata:
  name: course-app
  namespace: default
spec:
  replicas: 10
  selector:
    matchLabels:
      app: course-app
  template: 
    metadata:
      labels:
        app: course-app
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: course-app
          image: avishnikin/k8s-sandbox:latest
          env:
            - name: APP_NAME
              valueFrom:
                configMapKeyRef:
                  name: course-app-config
                  key: APP_NAME
                  optional: false
            - name: APP_LOG_LEVEL
              valueFrom:
                configMapKeyRef:
                  name: course-app-config
                  key: APP_LOG_LEVEL
                  optional: false
            - name: APP_TIMEOUT
              valueFrom:
                configMapKeyRef:
                  name: course-app-config
                  key: APP_TIMEOUT
                  optional: true
            - name: FEATURE_FLAG
              valueFrom:
                configMapKeyRef:
                  name: course-app-config
                  key: FEATURE_FLAG
                  optional: true
          ports:
          - containerPort: 8089
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "250m"
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1