apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "course-app.fullname" . }}
  labels:
    {{- include "course-app.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "course-app.selectorLabels" . | nindent 6 }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  template:
    metadata:
      labels:
        {{- include "course-app.selectorLabels" . | nindent 8 }}
    spec:
      initContainers:
        - name: wait-for-redis
          image: busybox:1.36
          command:
            - sh
            - -c
            - |
              echo "waiting for redis...";
              until nc -z {{ .Values.env.redis.host }} {{ .Values.env.redis.port }}; do
                echo "redis not ready yet";
                sleep 2;
              done;
              echo "redis is reachable."
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          env:
            - name: APP_MESSAGE
              valueFrom:
                configMapKeyRef:
                  name: {{ include "course-app.fullname" . }}-config
                  key: APP_MESSAGE
            - name: APP_STORE
              value: "{{ .Values.env.appStore }}"
            - name: APP_REDIS_URL
              value: "redis://{{ .Values.env.redis.host }}:{{ .Values.env.redis.port }}/{{ .Values.env.redis.db }}"
            {{- if and .Values.env.redis.passwordSecret.name .Values.env.redis.passwordSecret.key }}
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.env.redis.passwordSecret.name }}
                  key: {{ .Values.env.redis.passwordSecret.key }}
            - name: APP_REDIS_URL
              value: "redis://:$(REDIS_PASSWORD)@{{ .Values.env.redis.host }}:{{ .Values.env.redis.port }}/{{ .Values.env.redis.db }}"
            {{- end }}
          readinessProbe:
            httpGet:
              path: /readyz
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /healthz
              port: http
            initialDelaySeconds: 20
            periodSeconds: 20
            timeoutSeconds: 2
            failureThreshold: 3
          volumeMounts:
            - name: appdata
              mountPath: /app/data
      volumes:
        - name: appdata
          emptyDir: {}
