services:
  course-app:
    build:
      context: ../../..
      dockerfile: homeworks/vi.petrushenko/module-02-lesson-04/Dockerfile
    ports:
      - "8080:8080"
    environment:
      - APP_STORE=redis
      - APP_REDIS_URL=redis://redis:6379/0
      - APP_MESSAGE=Hello from Viktor!
    depends_on:
      - redis
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/healthz"]
      interval: 10s
      timeout: 5s
      retries: 3
    volumes:
      - ./data:/data

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    command: redis-server --save 60 1 --loglevel warning

volumes:
  data:
