apiVersion: apps/v1
kind: Deployment
metadata:
  name: course-app
  labels:
    app: course-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: course-app
  template:
    metadata:
      labels:
        app: course-app
    spec:
      initContainers:
        - name: wait-for-redis
          image: busybox:1.36
          command:
            - sh
            - -c
            - |
              echo "Waiting for redis service...";
              until nc -z redis 6379; do
                echo "redis not ready yet";
                sleep 2;
              done;
              echo "redis is reachable."
      containers:
        - name: course-app
          image: docker.io/bkrddk/course-app:1.0
          imagePullPolicy: Always
          env:
            - name: APP_MESSAGE
              value: "Hello from Kubernetes!"
            - name: APP_STORE
              value: "redis"
            - name: APP_REDIS_URL
              value: "redis://redis:6379/0"
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 20
          volumeMounts:
            - name: appdata
              mountPath: /app/data
      volumes:
        - name: appdata
          emptyDir: { }
---
apiVersion: v1
kind: Service
metadata:
  name: course-app
  labels:
    app: course-app
spec:
  type: NodePort
  selector:
    app: course-app
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      nodePort: 30080
