apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-app  # <--- Ось це ім'я шукає Ingress
spec:
  type: ClusterIP
  selector:
    app: {{ .Release.Name }}-app
  ports:
    - port: 80
      targetPort: 8080