apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.app.name }}-config
data:
  APP_STORE: {{ .Values.app.config.APP_STORE | quote }}
  APP_REDIS_URL: redis://{{ .Release.Name }}-redis-master:6379
