services:
  app:
    build: .
    container_name: capp
    ports:
      - "8080:8080"
    depends_on:
      redis:
        condition: service_started

  redis:
    image: redis:7
    container_name: capp_redis
    restart: always
    ports:
      - "6379:6379"
    environment:
      - APP_STORE=redis
      - APP_REDIS_URL=redis://redis:6379/0