apiVersion: apps/v1
kind: Deployment
metadata:
  name: example-deployment
spec:
  replicas: 10
  selector:
    matchLabels:
      app: example
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 2  # Скільки Pod може бути недоступних одночасно
      maxSurge: 3        # Скільки Pod може бути додатково створено
  template:
    metadata:
      labels:
        app: example
    spec:
      containers:
      - name: nginx
        image: nginx:1.25
        env:
        - name: APP_MESSAGE
          valueFrom:
            configMapKeyRef:
              name: example-config
              key: APP_MESSAGE
