services:
  go-app:
    build:
      context: ../../../../
      dockerfile: homeworks/andrii_kharkovyi/module-2/lesson-03/Dockerfile
    image: akharkovyi-lesson-3:latest
    container_name: akharkovyi-lesson-3
    ports:
      - "8181:8080"
    environment:
      - APP_VERSION=1.0.0
      - APP_STORE=redis
      - APP_REDIS_URL=redis://redis:6379/0
    networks:
      - akharkovyi-lesson-3-network
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/health" ]
      interval: 30s
      timeout: 10s
      start_period: 30s
      retries: 3
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6380:6379"
    volumes:
      - redis-data:/data
    networks:
      - akharkovyi-lesson-3-network
    restart: unless-stopped

networks:
  akharkovyi-lesson-3-network:
    driver: bridge

volumes:
  redis-data:
    driver: local