apiVersion: v1
kind: ConfigMap
metadata:
  name: course-app-config
data:
  APP_MESSAGE: "K8S App Message"
  APP_STORE: "redis"
  APP_REDIS_URL: "redis://dragonfly-instance.default:6379/0"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: course-app-deployment
  labels:
    app: course-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: course-app
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 2
      maxSurge: 3
  template:
    metadata:
      labels:
        app: course-app
    spec:
      containers:
      - name: course-app
        image: docker.io/edalekseiev/course_app:lesson-06
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8080
          initialDelaySeconds: 2
          periodSeconds: 3
          failureThreshold: 3
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 10
        envFrom:
        - configMapRef:
            name: course-app-config
        volumeMounts:
        - name: data
          mountPath: /app/data
      volumes:
      - name: data
        emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: course-app
  labels:
    run: course-app
spec:
  type: NodePort
  selector:
    app: course-app
  ports:
  - name: http
    port: 8080
    targetPort: 8080
    nodePort: 30008