apiVersion: apps/v1
kind: Deployment
metadata:
  name: course-app
spec:
  replicas: 16
  selector:
    matchLabels:
      app: course-app
  template:
    metadata:
      labels:
        app: course-app
    spec:
      containers:
      - name: course-app
        image: kekotopko/course-app:latest
        ports:
        - containerPort: 8080
        envFrom:
        - configMapRef:
            name: course-app-config
  strategy:
    type: Recreate
    # rollingUpdate:
    #   maxSurge: 3
    #   maxUnavailable: 3
       