# Bitnami Redis
architecture: standalone

auth:
  enabled: false

master:
  persistence:
    enabled: true
    size: 1Gi

  resources:
    requests:
      cpu: "100m"
      memory: "128Mi"
    limits:
      cpu: "500m"
      memory: "512Mi"