apiVersion: apps/v1
kind: Deployment
metadata:
  name: course-app
  namespace: default
  labels:
    app: course-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: course-app
  template:
    metadata:
      labels:
        app: course-app
    spec:
      containers:
        - name: course-app
          image: horodynskyiov/course-app:lesson-11
          ports:
            - containerPort: 8080
          env:
            - name: REDIS_HOST
              value: "dragonfly-sample.default"
            - name: REDIS_PORT
              value: "6379"
---
apiVersion: v1
kind: Service
metadata:
  name: course-app-svc
  namespace: default
  labels:
    app: course-app
spec:
  type: ClusterIP
  selector:
    app: course-app
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
