# Ігноруємо систему контролю версій
.git
.gitignore
.github/

# Тимчасові файли ОС і редактора
.DS_Store
*.swp
*.swo

# Go кеші та артефакти
bin/
pkg/
*.out

# Не потрібне у контейнері
Dockerfile
README.md