apiVersion: apps/v1
kind: Deployment
metadata:
  name: course-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: course-app
  template:
    metadata:
      labels:
        app: course-app
    spec:
      containers:
        - name: course-app-cont
          image: olyaalchemy/course-app:v2
          ports:
            - containerPort: 8000
          env:                         
            - name: APP_STORE
              value: "redis"
            - name: APP_REDIS_URL
              value: "redis://redis:6379/0"