services:
  app:
    image: "course-app:1.0.5"
    ports:
      - "8080:8080"

    environment:
      - APP_MESSAGE=Welcome to the Course Application!
    networks:
      - db
      - app
    depends_on:
      - redis

  redis:
    image: "redis:alpine"
    environment:
      - APP_STORE=redis
      - APP_REDIS_URL=redis://redis:6379/0
    volumes:
      - app-data:/data
    networks:
      - db
    ports:
      - "6379:6379"

networks:
  default:
  db:
    driver: bridge
  app:
    driver: bridge

volumes:
  app-data:

