apiVersion: apps/v1
kind: Deployment
metadata:
    name: course-app
spec:
    replicas: 10
    selector:
        matchLabels:
            app: course-app
    template:
        metadata:
           labels:
                app: course-app
        spec:
           containers:
                -   name: course-app
                    image: course-app:v1.2
                    ports:
                        -   containerPort: 8080
                    envFrom:
                      - configMapRef:
                          name: web-config
    strategy:
       type: RollingUpdate
       rollingUpdate:
          maxSurge: 0%
          maxUnavailable: 25%
