version: '3.9'

services:
  course-app:
    build: ./
    container_name: course-app
    ports:
      - "8080:8080"
    environment:
      - APP_MESSAGE=Hello, Docker Compose!
      - APP_STORE=redis
      - APP_REDIS_URL=redis://redis:6379/0
    #      - APP_DB_PATH=/app/data/db.sqlite3
    depends_on:
      redis:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "curl -fsS http://localhost:8080/healthz || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 5
      start_period: 30s
    volumes:
      - appdata:/app/data
    networks:
      - backend

  redis:
    image: redis:7-alpine
    container_name: course-redis
    #    ports:
    #      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 5
    volumes:
      - appdata:/data
    networks:
      - backend

networks:
  backend:
    driver: bridge

volumes:
  appdata:
