services:
  redis:
    image: redislabs/redismod
    ports:
      - "6379:6379"
  web:
    image: course-app
    ports:
      - "8080:8080"
    environment:
      APP_STORE: redis
      APP_REDIS_URL: redis://redis:6379/0
