services:
  app:
    image: yarovskiy/course-app
    ports:
      - "8085:8080"
    deploy:
        replicas: 2
    environment:
      - APP_STORE=redis
      - APP_REDIS_URL=redis://@redis:6379/0
    healthcheck:
        test: ["CMD-SHELL", "curl -f http://localhost:8080/healthz || exit 1"]
        interval: 10s
        timeout: 5s
        retries: 3
        start_period: 10s
    depends_on:
      - redis
  redis:
    image: redis:7-alpine
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3
    volumes:
      - appdata:/data
volumes:
  appdata:
