apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- gotk-components.yaml
- gotk-sync.yaml
patches:
  - patch: |-
      - op: add
        path: /spec/template/spec/securityContext
        value:
          fsGroup: 1337
          runAsNonRoot: true
          runAsUser: 65534
      - op: add
        path: /spec/template/spec/containers/0/securityContext
        value:
          runAsNonRoot: true
          runAsUser: 65534
    target:
      group: apps
      version: v1
      kind: Deployment
      namespace: flux-system