services:
  course_app:
    build:
      context: ../../../../apps/course-app/
      dockerfile: ../../homeworks/boiko-viktor/module-2/lesson-04/Dockerfile
    depends_on:
      redis:
        condition: service_healthy
    environment:
      APP_STORE: redis
      APP_REDIS_URL: redis://redis:6379/0
      APP_MESSAGE: "Docker Compose Course App Hello Viktor "
    container_name: course_app
    restart: unless-stopped
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/healthz"] 
      interval: 10s      
      timeout: 5s         
      retries: 3          
      start_period: 20s

  redis:
    image: redis:7-alpine
    container_name: course_app_redis
    restart: unless-stopped
    volumes:
      - redis_data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5

volumes:
  redis_data:
